/*
 * Copyright 2016 Tom Thorpe
 *
 * Distributed under the ISC Licence 
 *
 * Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 * Author: Tom Thorpe
 */


module.exports = {

/**
 * The interval to wait in betwen polls (in milliseconds)
 */
interval : 3000, //milliseconds

/**
 * array of the models you want. Use the models list below if you arent sure of the model numbers
 */
modelsWanted : ["MN4V2B/A"],

/**
 * prowl API. Used for push notifications. Sign up at https://www.prowlapp.com and download the app to your phone
 * If you dont set this up you won't get push notifications, you will only get console output
 */
prowlApiKey : "", //add your API key

/**
 * The url to the list of stores. These are different for different countries
 * CHANGE THIS IF YOU ARE NOT IN THE UK
 * Verify the json works by accessing the URL yourself in the browser and make sure it looks sensible
 * US version is https://reserve.cdn-apple.com/US/en_US/reserve/iPhone/stores.json
 */
storesJsonUrl : "https://reserve.cdn-apple.com/GB/en_GB/reserve/iPhone/stores.json",

/**
 * The url to the list of stock. These are different for different countries
 * CHANGE THIS IF YOU ARE NOT IN THE UK
 * Verify the json works by accessing the URL yourself in the browser and make sure it looks sensible
 * US version is https://reserve.cdn-apple.com/US/en_US/reserve/iPhone/availability.json
 */
stockJsonUrl : "https://reserve.cdn-apple.com/GB/en_GB/reserve/iPhone/availability.json",

}
